html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf'),
       url('../fonts/Roboto-Bold.ttf'),
       url('../fonts/Roboto-Italic.ttf');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto';
  margin-bottom: 60px;
  background-color: #f8f9fa;
  color: #333333;
}
#index-container, #search-container, .main-container{
  background-color: white;
  border-radius: 5px;
  padding:30px;
}
#featured-items, #items-list, .main-content{
  margin-top:30px;
  display: flex;
  flex-wrap: wrap;
}
.nav-search{
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-right: 100px;
  padding-left: 10px;
  background-color: #f8f9fa;
}
.nav-search form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-search input:focus{
  outline: none;
  box-shadow: none;
}
.nav-search input{
  border:none;
  text-decoration: none;
  width: 95%;
    background-color: #f8f9fa;
}
.navbar-brand{
  font-size: 36px;
  margin-left: 10px;
}
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align:center;
  height: 550px;
  margin: 10px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.product-card-buy{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  text-decoration: none;
  color:inherit;
}
.nav-link{
  white-space: nowrap;
  overflow: hidden;
}