@model List<PrimeBuy.Application.ViewModels.ProductViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="index-container">
    <div class="container">
        <h2>Featured Products</h2>
    </div>
    <div class="container"  id="featured-items">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="product-card">
                    <img style="width:100%; height: 350px; object-fit:contain;" src="@Url.Content(@product.ImagePath)" class="card-image">
                    <div class="card-body">
                        <div class="product-name">
                            <p><a asp-action="View" asp-controller="Product" asp-route-id="@product.Id"> @product.Name</a></p>
                        </div>
                        <div class="product-card-buy">
                            <p>$@product.Price</p>
                            <button class="btn btn-outline-secondary"><a asp-action="Add" asp-controller="Cart" asp-route-id="1">Add to cart</a></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>