@{
    ViewData["Title"] = "Admin Panel";
}
<div class="main-container">
    <h1>@ViewData["Title"]</h1>
    <div class="products-section" style="display:flex; flex-direction:column;">
        <h2>Products</h2>
        <div style="margin-left:30px;">
            <div style="width:40%;">
                <form method="GET" asp-action="ProductSearch" asp-controller="Admin">
                    <label class="form-label" for="product-search">Search for products</label>
                    <div class="" style="display: flex;">
                        <input type="text" id="product-search" required name="name" class="form-control">
                        <button type="submit" style="margin-left:10px"class="btn btn-primary"><i class="fas fa-search"></i></button>                
                </form>
            </div>
            <div class="actions" style="margin-top:20px;">
                <a class="btn btn-primary" asp-action="ProductSearch">List all products</a>
                <a class="btn btn-primary" asp-action="ProductCreate">Create new product</a>
            </div>
        </div>
    </div>
</div>