@model PrimeBuy.Application.DTOs.ProductInputDto
@{
    ViewData["Title"] = "Create";
    var successMessage = TempData["SuccessMessage"] as string;
    var categories = ViewBag.Categories as SelectList;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}

<form asp-action="ProductCreate" method="post" enctype="multipart/form-data">
    <div class="mb-3 form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" required class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" type="text" class="form-control tiny-mce"></textarea>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="text" pattern="[0-9]+([.][0-9]{1,2})?" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">-- Select category --</option>
            @foreach (var category in categories)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="mb-3 form-group">
        <label class="form-label" asp-for="Image">Image</label>
        <input type="file" class="form-control" asp-for="Image" />
    </div>
    <div class="mb-3 form-group">
        <input type="checkbox" asp-for="isFeatured" name="isFeatured" id="isFeatured">
        <label class="form-label" for="isFeatured" asp-for="isFeatured">Is a featured Product?</label>

    </div>

    <button type="submit" class="btn btn-secondary">Create</button>
</form>
