<div class="main-container">
    <div class="alert alert-success" style="text-align:center;">
        Product successfully removed
    </div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">
        Home
    </a>
    <div class="btn btn-primary">
        Back to Admin Panel
    </div>
</div>