@model List<PrimeBuy.Application.ViewModels.ProductViewModel>;

@{
    ViewData["Title"] = "Search";
}
<div class="container" id="search-container">
    <div class="container" style="margin-bottom: 50px;">
        <h2>Search</h2>
    </div>
@if(Model.Any()){
 <div class="container"  id="items-list">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="product-card">
                    <img style="width:100%; height: 250px; object-fit:contain;" src="@Url.Content(@product.ImagePath)" class="card-image">
                    <div class="card-body">
                        <div class="product-name">
                            <p><a asp-action="View" asp-controller="Product" asp-route-id="@product.Id"> @product.Name</a></p>
                        </div>
                        <div class="product-card-buy">
                            <p>$@product.Price</p>
                            <button class="btn btn-secondary"><a asp-action="Add" asp-controller="Cart" asp-route-id="1">Buy now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}   
else{
    <div class="container" style="text-align: center;">
        <h2>No products found</h2>
    </div>
}
</div>